@import '~mdb-ui-kit/css/mdb.min.css';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 15px;
  }

/*********   CAROUSEL HEADER  *********/
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
  height: 108vh;
}

header {
  position: relative;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  background: transparent !important;
}

.btn-descendre {
  position: absolute;
  top: 75%;
  left: 49%;
  z-index: 2;
  color: black;
  background: #ffffffa3;
  height: 40px;
  display: flex;
  width: 40px;
  text-align: center;
  border-radius: 50px;
  -webkit-animation: bounce 1.1s ease infinite;
  animation: bounce 1.1s ease infinite;
  justify-content: center;
  align-items: center;
}
@keyframes bounce{
0%{transform:translateY(0)}
50%{transform:translateY(-10px)}
100%{transform:translateY(0)}
}

.div_accueil_news_letter {
  width: 100%;
}

.div_accueil_news_letter h1 {
  font-size: 80px !important;
}
.div_accueil_news_letter span {
  font-size: 40px;
}

.accueil_news_letter h2.text-white {
  font-size: 40px;
}
h1.sola_titre.text-white {
  font-size: 55px;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #introCarousel {
    margin-top: -58.59px;
  }
}
/*********   CAROUSEL HEADER  *********/


.accueil_news_letter h1 {
  color: white;
    font-size: 40px;
    /* font-family: 'Pacifico', cursive; */
    transition: all 1s ease;
    padding: 15px;
}


/********     ECRITURE CAROUSEL   ************/
.ecriture_carousel_1 h1 {
  /* font-family: 'Pacifico', cursive; */
  font-size: 80px;
  color: white;
}
.ecriture_carousel_1 p {
  font-size: 40px;
}
/********     ECRITURE CAROUSEL   ************/



/********     PARTIE ACTUALITE   ************/
.bas_presentation {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.titres_bas_presentation {
  color: #c5a546 !important;
}
/********     PARTIE DERNIERE ACTUALITE  ************/
.bas_presentation .row {
  width: 75%;
}
/********     PARTIE PREDICATION   ************/
.video {
  width: 30%;
  background: #c5a54621;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}
/********     PARTIE PREDICATION   ************/
.video_contenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6%;
}
.video_contenu p {
  color: #c99909;
  font-weight: 600;
}
/********     PARTIE ACTUALITE   ************/






/*********   SCROLL HEADER  *********/
.navbar-bg.scroll{
  background-color: black;
}
.scroll .header_top_1_logo a {
  font-size: 25px;
  padding: 1px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.scroll .header_top_1 p {
  font-size: 10px;
  padding: inherit;
  padding-left: 15px;
}

.scroll .header_top_2_coordonnees {
  font-size: 13px;
}
/*********   SCROLL HEADER  *********/






/*********   NAVBAR  *********/
.navbar-bg {
    background-color: rgba(0, 0, 0, 0.794);
}
.header_top_1_logo a {
  color: white;
  font-size: 30px;
  /* font-family: 'Pacifico', cursive; */
  transition: all 1s ease;
  padding: 15px;
  width: 85%;
}
.navbar-nav {
    display: flex;
}
.header_top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.header_top_1 {
    display: flex;
}
.header_top_1 p {
  color: white !important;
  margin: inherit;
  font-size: 13px;
  width: 100%;
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  padding-left: 15px;
  transition: all 1s ease;
}
.header_top_2_coordonnees {
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
}
.header_bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.onglet_1 {
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.onglet_1 a.nav-link {
  color: white !important;
}
.onglet_1 a.nav-link:hover{
  color: #c5a546 !important;
}
/*********   NAVBAR  *********/






/*********   ONGLET ACTIVE  *********/
.onglet_1 a.nav-link.activeNav{
  color: #c5a546 !important;
}
/*********   ONGLET ACTIVE  *********/







/*********   BOUTTON  *********/
.myBtn{
    background-color: #c5a546 !important;
}
/*********   BOUTTON  *********/






/*********   POUR TOUTE LES PAGES  *********/
.all_pages {
  margin-top: 90px;
}
.all_marge {
  margin-top: 10em;
}

/*********   POUR TOUTE LES PAGES  *********/



/*********   H1 GENERAL  *********/
h1.h1 {
  font-weight: 800;
  font-size: 40px;
  margin-bottom: 40px;
  color: black;
}
/*********   H1 GENERAL  *********/




/*********  P CONTENU BIENTOT DISPONIBLE  *********/
.disponible {
  color: #000;
  font-style: italic;
  font-weight: 460;
}
/*********  P CONTENU BIENTOT DISPONIBLE  *********/






/*********   SIDE BAR  *********/
#side_bar{
  display: none;
}
/*********   SIDE BAR   *********/




/*********   PARTIE THEOLOGY ACCUEIL   *********/

section.theology {
  position: relative;
  background-color: black;
  width: 100%;
  overflow: hidden;
  z-index: 1;
}

section.theology .swiper-button-next:after, section.theology .swiper-button-prev:after {
  font-size: 15px !important;
  color: black !important;
}

section.theology .swiper-button-next, section.theology .swiper-rtl .swiper-button-prev {
  background: #c5a546 !important;
  height: 25px !important;
  border-radius: 50px !important;
}
section.theology .swiper-button-prev, section.theology .swiper-rtl .swiper-button-next {
  background: #c5a546 !important;
  height: 25px !important;
  border-radius: 50px !important;
}

section.theology .swiper-button-next, section.theology .swiper-button-prev {
  top: 57% !important;
}

section.theology video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.all_pages.presentation.container {
  padding-bottom: 50px;
}


section.theology .theology_content {
  position: relative;
  z-index: 2;
  padding: 1em 0 5em;
}

section.theology .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
/*********   PARTIE THEOLOGY ACCUEIL   *********/


/*********   PARTIE TROIS VERSETS   *********/
.partie_trois_versets {
  background: url(/images/bible.jpg) !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}
.partie_trois_versets:after {
  content: "";
  background: black;
  opacity: .7;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;
}

.trois_versets {
  padding: 5em 0 2em;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.trois_versets .swiper-horizontal>.swiper-pagination-bullets, .trois_versets .swiper-pagination-bullets.swiper-pagination-horizontal, .trois_versets .swiper-pagination-custom, .trois_versets .swiper-pagination-fraction {
  bottom: -7px !important;
}
.trois_versets span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #c5a546 !important;
}

.verset_1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  color: white;
  padding: 2%;
}

.verset_1 p {
  font-size: 15px;
  height: 100px;
  margin-bottom: inherit;
}

.verset_1 i {
  font-size: 55px;
  margin-bottom: 20px;
}

p.verset {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  font-style: italic;
  color: #c5a546;
  font-size: 15px;
}
/*********   PARTIE TROIS VERSETS   *********/




/*********   PARTIE THEOLOGY   *********/
.theology .collapsed{
  color: #c5a546;
  font-weight: 600;
}
.theology .accordion-button:not(.collapsed) {
  color: #c5a546 !important;
}

 
.theology_content .swiper-horizontal>.swiper-pagination-bullets, .theology_content .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .theology_content .swiper-pagination-fraction{
  display: none !important;
}
/*********   PARTIE THEOLOGY   *********/



/*********   PARTIE SOLAS   *********/
.solas .carousel-caption p{
  color: black;
}
.solas {
  background-color: #c5a54621;
  height: 300px;
}
.solas .carousel-item, .solas #introCarousel, .solas .carousel-inner, .solas .carousel-item, .solas .carousel-item.active {
  height:300px !important;
}
.solas .carousel-control-next-icon, .solas .carousel-control-prev-icon {
  background: black;
  border-radius: 50px;
}
.solas .carousel-control-next-icon:after, .solas .carousel-control-prev-icon:after {
  font-size: 1.35rem;
}
.solas .carousel-caption{
top: 50% !important;
bottom: initial !important;
transform: translate(-50%, -50%);
left: 50%;
width: 60%;
}
/*********   PARTIE SOLAS   *********/





/*********   PARTIE FOOTER   *********/
.my_footer {
  background: #343434;
  padding: 4em 0 0;
  position: relative;
}
.page_accueil .my_footer {
  margin-top: -4em;
}

.my_footer h5{
  color: white !important;
  font-weight: 600;
  margin-bottom: 30px;
}
.onglet_footer li {
  list-style: none;
  color: white;
}

.onglet_footer li a {
  color: white;
}

.onglet_footer li a.activeNav{
  color: #c5a546 !important;
}
.onglet_footer li a:hover{
  color: #c5a546 !important;
}

.my_footer .my_footer_contenu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: left;
  align-content: center;
}
.footer_contact {
  width: 30%;
}
.my_footer .form-outline .form-control {
  background: #ffffff24 !important;
  color: white;
}
.my_footer .form-outline .form-control~.form-label {
  color: rgb(255 255 255 / 60%) !important;
}

.my_footer_bottom {
  background: black;
  color: white;
  padding: 1rem 0;
}
.footer_joinUs {
  display: flex;
  flex-direction: column;
}
.my_footer_bottom_contenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.heberge_par a {
  color: #c5a546;
}
span.basebiblique_style_logo {
  /* font-family: 'Pacifico', cursive; */
}

a.monter {
  position: absolute;
  right: 30px;
  bottom: 40px;
  color: black;
  background: white;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50px;
}
/*********   PARTIE FOOTER   *********/


@media (min-width: 992px) and (max-width: 1399px) {
  .header_top_2_coordonnees p {
    font-size: 13px;
    margin-bottom: inherit;
}
.header_top_2 {
  width: 34%;
}
.onglet_1 {
  width: 85%;
}
.onglet_1 a.nav-link {
  font-size: 13px;
}
}

@media (max-width: 1199px) {
.header_top_2_coordonnees p {
  font-size: 9px;
  margin-bottom: inherit;
}
.header_top_1 p {
  font-size: 8px;
  width: 50%;
}
}

.style_flex{
  display: flex;
  width: 100%;
}


@media (min-width: 768px) and (max-width: 991px) {
.bas_presentation .style_flex .col-md-7.col-sm-12.gx-5.mb-4.p-4{
  width: 100%;
}

.bas_presentation .style_flex .col-md-5.col-sm-12.gx-5.mb-5{
  width: 100%;
}
}


/********* MOBILE 991 *********/
@media (max-width: 991px) {
  .style_flex {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.header_top_2, .onglet_1, .onglet_2, .header_top_1 p{
  display: none !important;
}
#side_bar {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all .4s ease;
  color: white;
  background: black;
}
.scroll #side_bar{
  top: 10px;
}
#drawer_side{
  z-index: 2001;
}
.ant-drawer-content{
  background-color: black !important;
}
.onglet_mobile {
  color: white;
}
.onglet_mobile .nav-item a {
  color: white;
}

.onglet_mobile .nav-item a.activeNav{
  color: #c5a546;
}
.onglet_mobile li {
  list-style: none;
}
h1.h1 {
  font-size: 25px;
  margin-bottom: 30px;
  text-align: center;
}
.header_top_1_logo a {
  font-size: 25px !important;
  padding: 1px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 0px;
  left: 50px;
}

.logo_header {
  background-repeat: no-repeat;
  background-size: 50px !important;
  background-position: left top!important;
  width: 112%;
  height: 70px;
  position: relative;
  position: absolute;
  left: 6px;
}


#introCarousel, .carousel-inner, .carousel-item, .carousel-item.active {
  height: auto;
}
.bas_presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.bas_presentation .row {
  width: 100%;
}
.video {
  width: 100%;
}
.trois_versets {
  flex-direction: column;
  padding: 5em 0 5em;
}
.verset_1 {
  width: 100%;
}
p.verset {
  display: flex;
  align-items: center;
}
.verset_1 p {
  height: 60px;
}
.my_footer .my_footer_contenu {
  flex-wrap: wrap;
}
.footer_contact {
  width: 50%;
  margin-bottom: 40px;
}
.footer_copyright {
  margin: 3rem 0;
}
iframe.ql-video {
  width: 100% !important;
  height: 20rem !important;
}
.scroll_button {
  display: none !important;
}

}



/********* MOBILE 767 *********/
@media (max-width: 767px) {
.sola_contenu p{
  font-size: 9px;
  margin: initial !important;
}
.ecriture_carousel_1 h1{
font-size: 20px;
}
.ecriture_carousel_1 p{
  font-size: 15px;
}
.accueil_news_letter h2.text-white {
  font-size: 15px;
}
h1.sola_titre.text-white {
  font-size: 20px;
}
.verset_1 p {
  /* height: 110px; */
  display: flex;
  align-items: center;
}
.solas .carousel-caption p {
  font-size: 11px;
}
.my_footer .my_footer_contenu {
  flex-direction: column;
}
.footer_contact {
  width: 100%;
  margin-top: 40px;
}
.btn-descendre {
  display: none;
}
.div_accueil_news_letter {
  width: auto;
}
.div_accueil_news_letter h1 {
  font-size: 20px !important;
}
.div_accueil_news_letter span {
  font-size: 20px;
}
.bg_image_other_header {
  height: 400px !important;
}
.contact_form .formulaire {
  padding: initial;
}
.bg_image_other_header h1 {
  font-size: 35px !important;
}
.bg_image_other_header p {
  font-size: 15px !important;
}
}

@media (max-width: 600px) {
.contact_form .formulaire {
  padding: 0 0% !important;
}
.contact_form {
  padding: 7% 5% !important;
}
}
/********* MOBILE *********/


.trois_versets .swiper {
  margin-left: initial !important;
  margin-right: initial !important;
}




.footer_contact .form-floating>label {
  top: -8px !important;
}
.footer_contact .form-floating>.form-control, .footer_contact .form-floating>.form-select {
  height: calc(2.5rem + 2px) !important;
}

.footer_contact textarea#message {
  height: 100px !important;
}