.noty_effects_open {
  opacity: 0;
  transform: translate(50%);
  animation: noty_anim_in 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.noty_effects_close {
  animation: noty_anim_out 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes noty_anim_in {
  100% {
    transform: translate(0);
    opacity: 1;
  }
}

@keyframes noty_anim_out {
  100% {
    transform: translate(50%);
    opacity: 0;
  }
}

.bg_image_other_header{
  background: url(../images/bible.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg_image_other_header h1{
  font-family:'Pacifico', cursive; 
  font-size: 60px;
  color: white;
}
.bg_image_other_header p{
  font-size: 25px;
}

.contact_form:after {
  content: "";
  background: white;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: .7;
}
.contact_form {
  background: url(../images/image1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  padding: 4% 17%;
  position: relative;
}
.contact_form h1, .contact_form p, .contact_form form {
  position: relative;
  z-index: 1;
}
.login_page .contact_form .form-outline .form-control {
  background: #0000009c;
  color: white !important;
  height: 50px !important;
}

.contact_form .formulaire {
  padding: 0 12%;
}

.contact_form .formulaire .form-outline .form-control~.form-label {
  color: rgb(255 255 255 / 82%);
}
.contact_form .formulaire .form-outline .form-control:focus~.form-label {
  color: #c5a546 !important;
}

.contact_form .form-outline .form-control {
  background: #44444494 !important;
  color: white !important;
}


.administration_page ol li {
  list-style: none;
  background: black;
  margin: 5px;
  border-radius: 5px;
}
.administration_page ol li a.activeOnglet{
  color: white;
  background-color: #c5a546 !important;
  border-radius: 5px;
}
.administration_page ol li a {
  color: white;
}
.administration_page ol li a:hover {
  color: white;
  background-color: #c5a546 !important;
  border-radius: 5px;
}
.administration_page ol {
  display: flex;
  flex-wrap: wrap;
}

.administration_page h1.h1 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.administration_page .btn-smbtn.myBtn {
  font-size: 15px;
  font-weight: 400;
  color: black;
  height: fit-content;
  padding: 10px 20px;
  border-radius: 5px;
}


.quill_form .ql-container.ql-snow {
  height: 20rem;
}

.administration_page .form-outline .form-control, .presentation_slug .form-outline .form-control {
  background: #c5a5463b !important;
}

.categorie_page .form-outline .form-control, .presentation_slug .form-outline .form-control {
  background: #c5a5463b !important;
}

.page_enseignement .form-outline .form-control, .presentation_slug .form-outline .form-control {
  background: #c5a5463b !important;
}

.page_update_enseignement .form-outline .form-control, .presentation_slug .form-outline .form-control {
  background: #c5a5463b !important;
}

.login_page .contact_form .form-control::placeholder{
  color: white;
}

form.form_custom .form-control:focus {
  box-shadow: none;
  transition: all .1s linear;
  border-color: #c5a546 !important;
  box-shadow: inset 0 0 0 1px #c5a546 !important;
}

.form-control.search_bar:focus {
  box-shadow: none;
  transition: all .1s linear;
  border-color: #c5a546 !important;
  box-shadow: inset 0 0 0 1px #c5a546 !important;
}

.login_page .contact_form .form-outline span {
  text-align: left !important;
  display: flex;
  font-size: 15px;
  color: #585858;
}
.couleur{
  color: #c5a546 !important;
}

.react-tel-input .form-control {
  height: 58px !important;
  width: 312px !important;
  outline: none;
}

.my_footer .react-tel-input .form-control {
  width: 100% !important;
}

/* .page_video_seul iframe.ql-video {
  width: 100% !important;
  height: 45rem !important;
} */


.popup {
  cursor: pointer;
  z-index: 9001;
  position: fixed;
  display: flex;
  top: 50%;
  background: transparent;
  left: -240px;
  transition: .3s ease-in-out;
  height: 45px;
  align-items: center;
}

.popup a {
text-decoration: none;
display: flex;
}
.popup .content {
  margin: auto;
  width: 100px;
  padding: 0 0px;
  color: var(--color0);
  font-size: 20px;
}
.popup .content a{text-align:center;margin:auto;color:#fff;font-size:15px;font-family: var(--police_pricipal);}
.popup:hover{left:0}
@media screen and (max-width:991px){
    .popup:hover {
        max-width: 100%;
    }
}
@media screen and (max-width:767px){
    .popup .content {
    padding: 0 24px;
    }
}

.bouton-social {
  display: flex;
}

.bouton_shard {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: black;
}

.theologie_page .nav-tabs .nav-item.show .nav-link, .theologie_page .nav-tabs .nav-link.active {
  color: #c5a546 !important;
  border-color: #c5a546 !important;
}

.theologie_page .nav-tabs .nav-link {
  font-size: 20px !important;
}

.scrollbar {
  float: left;
  height: 70vh;
  width: 100%;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px;
  padding: 3em 4% 3em;
}


.tab-pane.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.tab-pane.scrollbar::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.tab-pane.scrollbar::-webkit-scrollbar-thumb
{
	background-color: #000000;
}
.all_video .card {
  position: relative;
}
.all_video .card .myBtn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}


section .body_video iframe.ql-video {
  width: 100% !important;
  height: 78vh !important;
}